@import 'bootstrap';

:root {
    --dark: 19, 0, 90;
    --blue: 0, 51, 124;
    --blue-2: 28, 130, 173;
    --primary: 3, 201, 136;
}

body {
    background-color: lightgray;
}

.home-card {
    min-height: 200px;
}

.home-card .card-title {
    font-size: 1.2rem;
}

.btn-primary {
    background-color: rgb(var(--primary));
    border-color: rgb(var(--primary));
}

.btn-primary:hover {
    background-color: rgba(var(--primary), 0.85);
    border-color: rgba(var(--primary), 0.85);
}